@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

h1 {
    /*
    1 - font-sytle
    2 - font-weight
    3 - font-size
    4 - font-family
    
    font-size: 3em;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial;
    */
    font: italic bolder 2em Arial;
}