body {
    background-image: linear-gradient(to right, rgba(66, 238, 224, 0.671), rgba(69, 243, 176, 0.753));
}

main {
    background-color: white;
    width: 550px;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    margin: auto;
    box-shadow: 5px 8px 17px rgb(15, 245, 226);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.especial {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
