@charset "UTF-8"; 

* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
}

body {
    line-height: 2em;
    font-family: var(--fonte1);
}

section p {
    font-weight: bold;
}

section {
    padding-top: 20px;
    padding-left: 15px;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.74);
    box-shadow: 1px 2px 12px ;
}

#img1 {
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

#img2 {
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

.imagem p {
    background-color: rgba(37, 37, 37, 0.527);
    height: 43vh;
    width: 15vw;
    padding: 5px;
    color: rgb(255, 255, 255);
}

#img2 p {
    height: 46vh;
}

header {
    font-variant: small-caps;
    font-family: var(--fonte1);
    text-align: center;
    padding-top: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 50px;
}

footer, a {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
}

footer p {
    color: white;
}

header p {
    padding-top: 8px;
}


footer {
    font-weight: bolder;
    padding: 10px;
}