body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.89);
}

a {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

p {
    color: white;
}
